.container
    .content
        header.page-header
           h1 Dua Leo
                small.subtitle  Hotel
        .row
            article.col-md-8
                | Please select item on navigation.
            aside.col-md-4
                h3 Navigation
                ul
                    li
                        a(href="/") Home
                    li
                        a(href="/room") Rooms
                    li
                        a(href="/potation") Potations
                    //- li
                    //-     a(href="/customer") Customers
                    li
                        a(href="/csv") CSV export
    footer
        p &copy; <a href="#">Dua Leo</a> 2015 - MIT licence